extends ../../template/html5.jade

append stylesheets
    link(rel="stylesheet", href="/assets/auth/res/auth.css")

append body
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                .navbar-brand 
                    span.glyphicon.glyphicon-calendar
                    span.title 登录到 MBA 移动课程表
    .container(style="padding-top:70px")
        .row
            .col-lg-6
                .well
                    form.login-form.form-horizontal(method="post", action="/api/auth/login")
                        .form-group
                            label.control-label.col-lg-2 学号
                            .col-lg-10
                                input.form-control(type="text", name="schoolnum", placeholder="请输入您的学号，如“MF1402888”")
                        .form-group
                            label.control-label.col-lg-2 密码
                            .col-lg-10
                                .input-group
                                    input.form-control(type="password", name="password", placeholder="请输入南大MBA官网系统的密码")
                                    span.input-group-btn
                                        button#passwordHelpButton.btn.btn-default(data-toggle="modal", data-target="#passwordHelpModal", onclick="return false;") ?
                                #passwordHelpModal.modal.fade(role="dialog")
                                    .modal-dialog(role="document")
                                        .modal-content
                                            .modal-header
                                                button.close(type='button', data-dismiss='modal'): span &times;
                                                h3.modal-title 密码及隐私声明
                                            .modal-body
                                                p.
                                                    请输入您在南京大学 MBA 商学院官方网站中使用的密码。
                                                p.
                                                    本应用不会以任何形式存储或泄露您的密码及隐私，该密码仅用于首次获取您的选修课程。
                                            .modal-footer
                                                button.btn.btn-primary(type='button', data-dismiss='modal') 知道了，谢谢

                                            
                        .form-group
                            label.control-label.col-lg-2 验证码
                            .col-lg-10
                                input.form-control(type="text", name="captcha", maxlength="5", placeholder="请输入右边的验证码")
                                img#captchaImg
                                script.
                                    document.getElementById("captchaImg").src="/api/auth/captcha?r="+Math.random();
                        .form-group
                            .col-lg-10
                                if authErrorMessage
                                    .alert.alert-warning
                                        span.glyphicon.glyphicon-exclamation-sign
                                        span= " " + authErrorMessage

                        .form-group
                            .col-lg-2
                            .col-lg-10
                                input(type="hidden", name="redirect", value=redirectUrl)
                                button.btn.btn-success.btn-block(type="submit") 登 录
        .row
            .col-lg-6
                blockquote.help-block <b>郑重声明:</b> 本应用不会以任何形式存储或泄露您的密码及隐私，该密码仅用于首次获取您的选修课程。

append scripts
    script(src="/assets/auth/auth.js")
