.course-list
{
    ul
    {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        li
        {
            position: relative;
            display: block;
            height: 80px;
        }
    }
}
