.course-list
{
    ul
    {
        li
        {
            height: 75px;
            margin-left: 12px;
            margin-right: 12px;
            padding: 12px;
            padding-top: 3px;

            .color
            {
                position: absolute;
                left: 0px;
                top: 6px;
                bottom: 6px;
                width: 4px;
            }

            .info
            {
                position: relative;
                padding-left: 8px;

                .name
                {
                    line-height: 28px;
                }

                .room
                {
                    line-height: 18px;
                }

                .days
                {
                    line-height: 18px;
                }

                .session-left
                {
                    position: absolute;
                    display: block;
                    right: 5px;
                    bottom: 0;
                }
            }
        }
    }
}
