@import "variables";

html, body
{
    width: 100%;
    height: 100%;
    background: @background-color;
}

.csm-app
{
    width: 100%;
    height: 100%;

    > .tab-control
    {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@import "tab-control.less";
