html, body
{
    width: 100%;
    height: 100%;
}

.csm-app
{
    width: 100%;
    height: 100%;

    > .tab-control
    {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
