.session-list
{
    ul
    {
        li.session
        {
            height: 50px;

            &.first-of-date
            {
                border-top: 1px solid @border-color;
            }

            .name
            {
                margin-bottom: 4px;
            }

            .time
            {
                position: absolute;
                left: 15px;

                &.start
                {
                    color: black;
                    top: 8px;
                }

                &.end
                {
                    top: 25px;
                }
            }

            .color
            {
                position: absolute;
                left: 57px;
                top: 2px;
                bottom: 2px;
                width: 2px;
            }

            .info
            {
                position: absolute;
                left: 70px;
                padding-top: 8px;

                .room
                {

                }
            }
        }
    }
}
