.session-list
{
    ul
    {
        li.item
        {
            height: 52px;
            padding-left: 40px;
            border-top: 1px solid @border-color;
            border-bottom: none;

            &.first-of-date
            {
                border-top: none;
            }

            .tag
            {
                left: 34px;
                width: 2px;
            }

            h1.title
            {
                margin-bottom: 4px;
            }

            .time
            {
                position: absolute;
                top: 11px;
                left: 0;

                .start
                {
                    color: black;
                }
            }
        }
    }
}
