extends ../template/basic.jade

append stylesheets
    link(rel="stylesheet", href=app.get("assets path") + "/csm/res/csm.css")
        
append body
    include reward-dialog.jade
    include download-dialog.jade

append scripts
    script(src=app.get("assets path") + "/csm/csm.js")
