#rewardDialog.modal.fade(role="dialog")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal'): span &times;
                h3.modal-title 打赏开发者
            .modal-body
                p.thank-you.
                    感谢您使用<b>MBA 移动课程表应用</b>。
                p.
                    我是来自南京大学商学院 MBA 14级A班的李昕。
                    本应用是我在业余时间开发完成的，
                    开发这款应用的初衷是为了方便广大同学随时随地查询课程，并没有其他任何商业目的。
                
                p   <b>如果你和我一样非常喜欢这款应用，您可以</b>
                    ul
                        li 分享本应用给其他需要的同学；
                        li 通过支付宝或微信钱包向我发红包：
                            ul
                                li <b>支付宝</b> <a href="javascript:;">magic__cube@msn.com</a>
                                li <b>微信</b> <a href="javascript:;">henry19840301</a>
                                <p style="margin-top: 12px">您的姓名与祝福将陆续出现在下方。</p>
                
                
                section.supporters
                    h3(style="margin-top:32px;") 支持者名单
                    table.table.table-striped
                        colgroup
                            col(width=45)
                            col(width=45, align="center")
                        thead
                            tr
                                th 姓名
                                th 班级
                                th 祝福
                        tbody
                            tr
                                td 李昕
                                td 2014A
                                td 祝各位2016年新春快乐，圆梦圆心圆万事！
                    
            .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal') 知道了，谢谢
